[Desktop Entry]
Type=Application
Name=WallStreet
Exec=/usr/lib/wallstreet/wallstreet
NoDisplay=true
AutostartCondition=GSettings org.ubuntubudgie.budgie-wallstreet runwallstreet
X-MATE-AutoRestart=true
X-GNOME-AutoRestart=true
