[submodule "budgie-quickchar/quickchar"]
	path = budgie-quickchar/quickchar
	url = https://github.com/ubuntubudgie/quickchar
[submodule "budgie-applications-menu/applications-menu"]
	path = budgie-applications-menu/applications-menu
	url = https://github.com/ubuntubudgie/applications-menu
[submodule "budgie-network-manager/budgie-network-applet"]
	path = budgie-network-manager/budgie-network-applet
	url = https://github.com/ubuntubudgie/budgie-network-applet
