[Desktop Entry]
Name=Window Mover
Type=Application
Exec=/opt/wmover/wmover/moverbar
Icon=wmover
StartupWMClass=wmover
StartupNotify=true
NoDisplay=true
