[Desktop Entry]
Name=Window Mover
Type=Application
Exec=/opt/wmover/wmover/moverbar
Icon=wmover-launcher
StartupWMClass=wmover
StartupNotify=true
NoDisplay=true
