
.moverwindow {
	background-color: #353945;
	}

.moverbutton {
  background-color: #353945;
  color: #C8C8C8;
  border-width: 0px;
  border-color: #858C96;
  padding: 1px;
  border-radius: 0px;
}
.moverbutton:hover {
  background-color: shade (@bg_color, 0.4);
  color: shade (@color, 0.2)
}


