[Desktop Entry]
Type=Application
Name=QuickChar
Comment=Helper process to manage displaying matching typed characters
Exec=quickchar
NoDisplay=true
AutostartCondition=GSettings org.ubuntubudgie.quickchar enable-quickchar
X-MATE-AutoRestart=true
X-GNOME-AutoRestart=true
