[Desktop Entry]
Type=Application
Name=Budgie Hotcorners Settings
Comment=Settings control application for hotcorners
Exec=/usr/libexec/budgie-hotcorners/budgie-hotcorners-settingswindow
Icon=org.ubuntubudgie.budgie-extras.hotcorners
Keywords=Hotcorners;Desktop;
Name[en_US]=Hotcorners settings
StartupWMClass=Budgie-hotcorners-settingswindow
