Source: budgie-extras
Section: misc
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 11),
		python3,
		meson,
		dh-python,
		pycodestyle,
		pkg-config,
		gobject-introspection,
		libgtk-3-dev,
		valac,
		budgie-core-dev,
		libbudgie-plugin0,
		libpeas-dev,
		libjson-glib-dev,
		libgee-0.8-dev,
		intltool,
		libsoup2.4-dev,
		libwnck-3-dev,
		libkeybinder-3.0-dev,
		gnome-settings-daemon-dev,
		libgranite-dev,
 		libgdk-pixbuf2.0-dev,
 		libglib2.0-dev (>= 2.56),
 		libgnome-desktop-3-dev,
 		libgnome-menu-3-dev,
 		libzeitgeist-2.0-dev,
 		libappstream-dev,
 		cmake,
		libplank-dev
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/UbuntuBudgie/budgie-extras/tree/debian
Vcs-Git: https://github.com/UbuntuBudgie/budgie-extras -b debian
Homepage: https://ubuntubudgie.org

Package: budgie-extras-common
Architecture: any
Depends: ${misc:Depends}
Description: Shared component of budgie-extras applets
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The shared component provides for capabilities that are utilised between
 budgie-extra applets.

Package: budgie-hotcorners-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common,
 dconf-cli,
 gnome-screensaver,
 libnotify-bin
Description: Applet providing hotcorners capabilities for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The hotcorners applet allow user defined commands to be executed
 when the mouse cursor is pushed into a corner of the main desktop.

Package: budgie-trash-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Applet allows access to trash capabilities for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The trash applet allows the user access the desktop trash capabilities
 from the panel including the ability to delete and restore files stored
 in the trash folder.

Package: budgie-quicknote-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Applet providing simple notes capability for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The quicknote applet allows a user to record a text based note.
 The applet supports multiple undo and redo capabilities.

Package: budgie-recentlyused-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common,
 xdg-utils
Description: Applet displays files recently accessed for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The recentlyused applet displays the users files that have been opened
 or created within a configurable period of time.

Package: budgie-previews-applet
Architecture: all
Section: oldlibs
Depends: ${misc:Depends},
 budgie-previews
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: budgie-previews
Architecture: any
Depends: budgie-extras-daemon,
  ${misc:Depends}, ${shlibs:Depends},
  xprintidle
Replaces: budgie-preview-applet (<< 0.4.5+201910221917~)
Breaks: budgie-previews-applet (<< 0.4.5+201910221917~)
Description: Provides window previews capabilities for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets & mini-apps
 created for the Budgie Desktop that provide additional user orientated
 capabilities. These can be used individually or as a set.
 .
 budgie-previews can be used on most desktop environments.
 .
 Previews shows an overview of windows in an expose like way.

Package: budgie-workspace-overview-applet
Architecture: all
Depends: python3,
	python3-gi,
	wmctrl,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	${misc:Depends}, ${python3:Depends}
Description: Applet providing quick access to workspaces for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The workspace overview applet allows a user to quickly navigate
 workspaces using the applet's menu.  Optionally, navigation to any
 window in any workspace is possible.

Package: budgie-workspace-wallpaper-applet
Architecture: all
Depends: python3,
	python3-gi,
	wmctrl,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	dconf-cli,
	${misc:Depends}, ${python3:Depends}
Description: Applet providing per workspace wallpaper
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The workspace wallpaper applet shows a different wallpaper on each of
 the workspaces. Usage is simple: add the applet to the panel and set
 wallpapers on each of the workspaces in the way you are used to.
 The applet will remember what wallpaper was set on each of the
 workspaces.

Package: budgie-window-mover-applet
Architecture: all
Depends: python3,
	python3-gi,
	wmctrl,
	xdotool,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	dconf-cli,
	${misc:Depends}, ${python3:Depends}
Description: Applet allows moving windows between workspaces for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The Window Mover applet allows the user to quickly move windows to any
 of the other workspaces. Just drag a window to the bottom of the screen
 and a bar will popup, representing the workspaces. Click on
 any of the numbers (or press the corresponding number on the keyboard)
 and the window will move to that workspace.

Package: budgie-showtime-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common,
 dconf-cli
Description: Applet displaying date and time on the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The ShowTime applet is a digital desktop clock, showing time and/or
 date.  Text color of both the displayed time and date can be set
 separately from the applet's menu

Package: budgie-countdown-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	vorbis-tools,
	zenity,
	dconf-cli,
	sound-theme-freedesktop,
	${misc:Depends}, ${python3:Depends}
Description: Applet providing a countdown capability on the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The Countdown applet provides the user the ability to start an
 action when the countdown reaches 0 seconds. Actions include flashing
 an icon in the panel, opening a notification window, sounding a
 bell or running a custom command.

Package: budgie-keyboard-autoswitch-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	${misc:Depends}, ${python3:Depends}
Description: Applet adding the ability to set a different keyboard layout per application
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The Keyboard Auto Switcher applet provides the user the ability to set
 a different keyboard layout per application. Exceptions to the default
 layout can be set by simply choosing a different layout using the
 Keyboard Layout applet.

Package: budgie-rotation-lock-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	${misc:Depends}, ${python3:Depends}
Description: Applet to lock or unlock the screen rotation
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The Rotation Lock applet provides the user an easy way to lock or
 unlock the screen rotation.

Package: budgie-clockworks-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-pil,
	python3-svgwrite,
	python3-cairosvg,
	${misc:Depends}, ${python3:Depends}
Description: Applet to display clock across multiple time zones
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The Clockworks applet displays the current time across multiple
 time zones.

Package: budgie-dropby-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	python3-pyudev,
	zenity,
	${misc:Depends}, ${python3:Depends}
Description: Applet to popup when a USB device is connected
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The DropBy applet pops up in the panel when connecting a usb device.
 The applet subsequently offers the option(s) to mount, unmount/eject
 and in case of a flash drive, to make a local copy of the drive's
 content. The info shows the free space on the volume.
 .
 The applet is context- sensitive, meaning: it only shows its icon in
 the panel if, and as long as, any usb drive is connected.

Package: budgie-kangaroo-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	python3-psutil,
	xdg-utils,
	${misc:Depends}, ${python3:Depends}
Description: Applet to allow quick file-browsing
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The kangaroo applet allows for quick & easy browsing, across
 (possibly) many directory layers, without having to do a single mouse
 click.

Package: budgie-app-launcher-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	${misc:Depends}, ${python3:Depends}
Description: Applet to provide an alternative means to launch applications
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The app-launcher applet allows the ability to add favorite apps to the
 panel as well as finding and launching applications.  The list of
 applications listed can be easily configured to be visible or hidden.

Package: budgie-weathershow-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common,
 dconf-cli,
 procps
Description: Applet to display the weather and forecast
 This is part of a suite of python3 based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The weathershow applet displays daily and three hourly weather
 forecasts on both the desktop and a Popover.

Package: budgie-takeabreak-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-budgie-1.0,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-peas-1.0,
	xprintidle,
	x11-xserver-utils,
	${misc:Depends}, ${python3:Depends}
Description: Applet to prompt when to take-a-break for a set period of time
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The take-a-break applet monitors how long a desktop is being used
 and at a configurable time period suggests when to take a break
 from working.

Package: budgie-extras-daemon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Extras daemon for budgie-extras capabilities
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 Budgie-Extras-Daemon provides both global keybinding and D-Bus functionality
 for various extras applets and applications.

Package: budgie-quickchar
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-wnck-3.0,
	python3-pyperclip,
	python3-xlib,
	${misc:Depends}, ${python3:Depends}
Recommends: budgie-extras-daemon
Description: GUI to find and choose locale characters
 This is part of a suite of python3 and Vala based applets & mini-apps
 created for the Budgie Desktop that provide additional user orientated
 capabilities. These can be used individually or as a set.
 .
 Quickly find and choose the equivalent locale character for an ascii
 character.
 .
 Quickchar can be used on most desktop environments invoked by a shortcut key.

Package: budgie-workspace-stopwatch-applet
Architecture: all
Depends: python3,
	python3-gi,
	gir1.2-glib-2.0,
	gir1.2-gtk-3.0,
	gir1.2-wnck-3.0,
	${misc:Depends}, ${python3:Depends}
Description: Workspace usage tracker for the budgie desktop
 This is part of a suite of python3 and Vala based applets & mini-apps
 created for the Budgie Desktop that provide additional user orientated
 capabilities. These can be used individually or as a set.
 .
 Workspace Stopwatch Applet keeps track of usage per workspace,
 i.e. to find out how much minutes/hours were actually spent on a job.
 Workspaces can be freely named, custom names and all data are remembered.

Package: budgie-fuzzyclock-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Show the time in a fuzzy way
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 Displays the time in a 'spoken' format such as five past six.

Package: budgie-brightness-controller-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Applet to control the brightness of the screen
 This is part of a suite of python3 and Vala based applets & mini-apps
 created for the Budgie Desktop that provide additional user orientated
 capabilities. These can be used individually or as a set.
 .
 The brightness controller applet allows controlling of the screen
 levels via xrandr (fallback) or via gnome-settings-daemon (if available)

Package: budgie-wallstreet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Change wallpaper from a folder on a schedule
 This is part of a suite of python3 and Vala based applets & mini-apps
 created for the Budgie Desktop that provide additional user orientated
 capabilities. These can be used individually or as a set.
 .
 Wallstreet allows for a directory of pictures to be shown on
 a schedule.

Package: budgie-visualspace-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 budgie-extras-common
Description: Show and manage windows in workspaces for the Budgie Desktop
 This is part of a suite of python3 and Vala based applets for the Budgie
 Desktop that provide additional user orientated capabilities.
 The applets can be used individually or as a set.
 .
 The visualspace applet shows as a stylish compact workspace on the budgie
 panel.  Choosing windows in the applet popup moves to the workspace
 where the window is located and gives it focus.
 The number of Workspace can also be changed though the applet popup.

Package: budgie-applications-menu
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gnome-menus
Suggests: zeitgeist
Description: Stylish Applications Menu for Budgie-Desktop
 Budgie-Desktop is a GTK+ based desktop environment which focuses on
 simplicity and elegance.  It provides a traditional desktop metaphor
 based interface utilising customisable panel based menu driven system.
 Budgie-Desktop is written from scratch utilising many GNOME based
 sub-systems such as GNOME-Session and Mutter.
 .
 The application-menu is a stylish panel applet that displays applications
 in different views - grid and list. Weblinks typed into the search bar
 can be opened in your default browser. Applications that have additional
 desktop options show via a right-click menu. Applications with associated
 actions show those actions are additional searchable entries.
 .
 With the optional zeitgeist package search entries learn your menu actions
 and results are automatically biased to allow you to find and execute
 applications quickly.
 .
 Variety of options are available including grid sizing and displaying a
 powerstrip. 