#!/usr/bin/make -f
export DH_VERBOSE = 1
export MAKE = ninja -v

%:
	dh $@ --parallel --with python3

override_dh_auto_configure:
	mkdir -p build
	cd build && meson --prefix=/usr --libdir=/usr/lib --sysconfdir=/opt ..

override_dh_auto_build:
	cd build && $(MAKE)

override_dh_auto_clean:
	rm -rf build

override_dh_auto_test:
	dh_auto_test
	./tools/run-pep8

override_dh_auto_install:
	cd build && DESTDIR=$(CURDIR)/debian/tmp $(MAKE) install

override_dh_python3:
	dh_python3 /usr/lib/budgie-desktop/plugins
