@import 'vars.scss';

.trash-applet-list {
  & > row {
    border-bottom: 0.5px solid $border-color;
  }

  & > row:hover {
    background-color: transparent;
  }

  &:last-child {
    border-bottom: none;
  }
}
