[Desktop Entry]
Name=Budgie Hotcorners Settings
Type=Application
Exec=/opt/budgie-extras/budgie-hotcorners/code/bhcsettings
Icon=bhcorners
NoDisplay=true
StartupNotify=true
StartupWMClass=Bhcorners
