[Desktop Entry]
Name=Budgie Hotcorners Settings
Type=Application
Exec=/opt/budgie-hotcorners/budgie-hotcorners/bhcsettings
Icon=bhcorners
NoDisplay=true
StartupNotify=true
StartupWMClass=Bhcorners
