[Desktop Entry]
Type=Application
Name=WallStreet Control
Exec=/usr/lib/wallstreet/wallstreet_control
Name[nl_NL]=WallStreet instellingen
Icon=wallstreet-control
